EmployeeWCFClientsolution/EmployeeWCFClient/Service References/EmployeeServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEmployee" />
  <xs:element name="SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEmployee" minOccurs="0" name="e" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFEmployee" minOccurs="0" name="GetDataResult" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>